
.content{
    display: flex;
    align-items: flex-start;
    gap: 38px;

    &__btns{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__title{
        font-weight: 600;
        font-size: 48px;
        line-height: 48px;
    }

    &__date{
        display: flex;
        align-items: center;
        gap: 37px;

        & > span{
            font-size: 14px;
            line-height: 19px;

            &:nth-child(2) {
                opacity: 0.28;
                position: relative;

                &::before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: var(--black-color);
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translate(calc(-100% - 5px), -50%);
                }
            }
        }
    }

    &__img{
        width: 100%;
        aspect-ratio: 69/38;
        position: relative;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding-bottom: 42px;
        border-bottom: 1px solid rgba(166, 165, 190, 0.2);

        & > h3{
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
        }

        & > p{
            font-size: 18px;
            line-height: 150%;
        }

        & > ul{
            display: flex;
            flex-direction: column;
            gap: 16px;
            list-style: disc;
            margin-left: 16px;
        }
    }
}