.header {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 44px;
    padding-bottom: 61px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        margin: 7px 0;
        position: relative;
        z-index: 9;
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 81px;
        letter-spacing: -0.05em;
        color: #121212;

        max-width: 764px;

        &>span {
            font-family: 'Times';
            font-style: italic;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 0;
            background: url('/line.svg');
            width: 263px;
            height: 32px;
            transform: translateY(calc(100% + 10px)) translateX(20%);
        }
    }

    &__text {
        font-family: 'Outfit';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #121212;
        margin-bottom: 27px;

    }

    &__rowblock {
        margin: 30px 0;
        position: relative;
        z-index: 100;


        &__text {
            font-size: 32px;
            line-height: 89px;
            color: black;
            font-weight: 400;
        }

        &__avatars {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            max-width: 720px;
        }
    }

    &__ava {
        transition: all 0.3s;

        &:hover {
            z-index: 1000;
        }
    }

    &__btns {
        display: flex;
        flex-direction: column;
        z-index: 1000;
        margin-top: auto;
        width: 100%;
        position: sticky !important;
        top: 0;


        &.fixed {
            background: #000;
        }

        &>div:first-child {
            border-bottom: 1px solid rgb(18, 18, 18, 0.2);
            padding: 8px 0;
            display: flex;
            align-items: center;

            &>div {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                &>a {
                    display: block;
                    font-size: 11px;
                    line-height: 14px;
                    color: #121212;
                    opacity: 0.5;
                    display: flex;
                    align-items: center;
                    transition: all 0.3s;
                    gap: 6px;

                    &>span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background: rgba(255, 255, 255, 0.2);
                        color: #121212;
                    }

                    &:hover {
                        color: #121212;
                    }

                    &:first-child {
                        margin-right: 134px;
                    }

                    &:nth-child(2) {
                        margin-right: 153px;
                    }
                }
            }
        }

        &>div:nth-child(2) {

            &>div {
                display: flex;
                align-items: center;

                & button {
                    padding: 11px 80px 11px 30px;

                    font-size: 18px;
                    font-weight: 300;
                    line-height: 23px;
                    border-right: 1px solid rgb(18, 18, 18, 0.2);
                    opacity: 0.5;
                    transition: all 0.3s;

                    &:last-child {
                        border-right: none;
                    }

                    &:first-child {
                        padding-left: 0;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.active {
    opacity: 1;
}

.active__nav {
    background: rgb(18, 18, 18);
    border-bottom: 1px solid rgba(86, 80, 80, 0.2);

    &>div:first-child {
        border-color: rgba(86, 80, 80, 0.2);

        &>div>a {
            color: black !important;
            opacity: 0.5;

            &:hover {
                color: black;
                opacity: 1;
            }

            &>span {
                background: rgb(18, 18, 18, 0.2) !important;
                opacity: 1;

                &>svg>path {
                    fill: black !important;
                }
            }
        }
    }

    &>div:nth-child(2) {
        &>div>button {
            transition: all 0.3s;
            border-right: 1px solid rgba(86, 80, 80, 0.2);
            color: black;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.active__link {
    color: #7000FF !important;
    opacity: 1 !important;

    &>span {
        background: rgb(18, 18, 18, 0.2) !important;

        &>svg>path {
            fill: #7000FF !important;
        }
    }
}