@import url('../../public/fonts/fonts.css');

:root {
  --white-color: #FFFFFF;
  --black-color: #121212;
}

html,
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: 'Outfit','Inter', sans-serif;
  font-weight: 400;
  color: var(--black-color);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

.fr-btn-grp {
  margin: 0 !important;
}

input,
button {
  font-family: 'Inter';
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fr-toolbar.fr-top {
  border: none !important;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  border: none;
}

.fr-second-toolbar {
  border: none !important;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7) !important;
  border-radius: 0px !important;
}

.fr-box.fr-basic .fr-element {
  min-height: 50px !important;
  padding-bottom: 10px !important;
  padding-left: 0px !important;
}


.fr-box .fr-counter {
  display: none;
}

.fr-toolbar .fr-newline {
  display: none !important;
}